@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
  }
  
  html {
    @apply bg-white text-neutral-900;
  }
  
  body {
    @apply bg-white text-neutral-900;
  }
}

@keyframes spin-slower {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.spin-slower {
	animation: spin-slower 12s linear infinite;
}
