@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slower {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.spin-slower {
	animation: spin-slower 12s linear infinite;
}
